*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header, h1{
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}

h2{
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Espaçamento entre as colunas */
    padding: 10px;
}

.input-container {
    grid-column: span 1; /* Ocupar uma coluna inteira */
}

textarea {
    grid-column: span 2; /* Ocupar duas colunas inteiras */
    padding: 1rem;
    margin: 5px 0;
    box-sizing: border-box;
    width: calc(100% - 20px); /* Largura total menos o espaçamento entre as colunas */
    height: 65%;
    border-radius: 15px;
    border: 1px solid rgb(179, 158, 131);
}

input[type="submit"] {
    grid-column: span 2; /* Ocupar duas colunas inteiras */
    width: calc(100% - 20px); /* Largura total menos o espaçamento entre as colunas */
    padding: 1rem;
    border: 2px solid antiquewhite;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 15px;
    margin: 5px 0;
}

input[type="text"], input[type="tel"], input[type="email"]{
    padding: 1rem;
    margin: 5px 0;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgb(179, 158, 131);
}

table{
    padding: 50px;
}

table{
    align-items: center;
    border-collapse: collapse;
    margin: auto;
    margin: 5%;
    margin-bottom: 5%;
    width: 90%;
}

table th{
    background-color: antiquewhite;
    border: 5px solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px 20px 0 0;
}

table td:nth-child(odd){
    background-color: rgb(255, 243, 253) ;
    border: 5px solid white;
    text-align: center;
    border-radius: 20px;
}

table td:nth-child(even){
    background-color: rgb(244, 243, 255) ;
    border: 5px solid white;
    text-align: center;
    border-radius: 20px;  
}

th, td{
    padding: 15px;
}

ul, li{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

footer{
    background-color: antiquewhite;
    padding: 20px 0;
    color: rgb(173, 150, 118);
}

.media,p{
    font-size: medium;
    font-weight: 700;
}

p{
    text-align: center;

}


.link{
    font-weight: 400;
}


svg{
    width: 1em;
    height: 1em;
    fill: rgb(189, 0, 79);
}


.copyright{
    display: block;
    text-align: center;
}





